@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
  font-family: 'Noto Serif JP', serif;
  background-color: #0a1a2f; /* 万一背景が読めないときの補助色 */
  color: #333;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
